body {
    background-color: #e8ffa7;
    font-family: 'Roboto Mono', monospace;
}

.calculator {
    margin-top: 10%;
}

.title {
    color: #000;
    letter-spacing: 2px;
}

input[type="number"] {
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
}

input[type="number"]:focus {
    border-radius: 20px;
}

#calculate {
    background-color: #2BC62B;
    padding: 10px 40px;
    color: #fff;
    border: none;
    border-radius: 20px;
}